@{ Layout = "/Views/Shared/AdminLayout.cshtml";}



@*<div class="text-center card mb-3">
    <div class="card-header">
        <h1 class="display-4">Welcome</h1>
    </div>
</div>*@

<div class="card mb-3">
    <div class="card-header">
        <div class="text-center">
            <div class="col-auto align-self-center">
                <h2 class="mb-0">Welcome in the Admin Panel</h2>
            </div>
        </div>
    </div>
</div>
