
@{
    ViewData["Title"] = "TIBA -About";
}


<!-- #region Content -->

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-03.jpg);">
        <h2 class="tit6 t-center">
            About Us
        </h2>
</section>


<!-- Our Story -->
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">
    <span class="tit2 t-center">
        Message from
    </span>

    <h3 class="tit3 t-center m-b-35 m-t-5">
        the principal
    </h3>

    <p class="t-center size32 m-l-r-auto" style="text-align: left; text-align: justify;">
        Dear students / parents<br>
        I would like to take this opportunity to welcome you to Tiba American School,<br>
        TIS has turned to be a unique, sustainable, dynamic and 21st century educational model school with extraordinary team efforts.<br>
        I am very proud of the TIS Team; they understand and are passionate about the commitment to create empowered learning pathways for our students.<br>
        Our young students are growing into a future that is rapidly changing. They know the jobs of today will look very different than the ones for tomorrow. <br>
        They know the answer to this is for young people to develop a strong awareness of themselves, others and place, and to be confident in their ability to face challenges, adapt and change. They know ‘The TIS Way ‘support this, and their work with their students is vitally important to the success of this!<br>
        The goal of TIS is EXCELLENCE and the striving to reach this goal must depend on cooperation between all school community from parents, teachers and administrators. <br>
        According to this cooperation we assure that the result will be well worth of the efforts.
        This student’s handbook contains all school rules; you should always remember that obeying these rules will help you to avoid facing a lot of problems.<br>
        I look forward to this school year and wish each of you the very best in the many opportunities that await you.
        Make the most of them with mutual respect and cooperation we can succeed together.<br>
        My door is always open to you.<br>
        Let me know how I can help .
    </p>

    <p class="t-center size32 m-l-r-auto" style="text-align: left; text-align: justify;">
        <b>	We aspire for TIS Students to graduate from their 12-year learning adventure being able to: </b><br>
        •Use creative, innovative, and critical thinking to make a difference. <br>
        •Use their passions, talents, and skills to create a future that excites them positively to our world.<br>
        •See the adventure, opportunity, connections, and possibilities in life. <br>
        •Act with respect towards themselves, others, and our world. <br>
        •Turn dreams and ideas into reality. <br>
        •Accept life’s challenges with a resilient and flexible attitude. <br>
        •Create a happy and healthy life balance. <br>
        •Communicate with maturity, openness, and integrity. <br>
        •Embrace fun and live with curiosity.
    </p>

    <p class="t-center size32 m-l-r-auto" style="text-align: left; text-align: justify;">
        <b>To support TIS Way, we ask parents to:</b><br>
        •Provide a home life that supports the school’s philosophy of self-management.<br>
        •Support your child on their self-management journey.<br>
        •Engage in parent education about TIS Way.<br>
        •Participate in working with your child’s Learning Advisor to design their learning plan;<br>
        •Support their child’s/teen’s Learning Team with their requests.<br>
        •Be respectful about school decisions.<br>
        , Wish you best of luck


    </p>

</section>


<!-- Video -->
<section class="section-video parallax100" style="background-image: url(../images/header-menu-01.jpg); ">
    <div class="content-video t-center p-t-225 p-b-250">
        <span class="tit2 p-l-15 p-r-15">
            Discover
        </span>

        <h3 class="tit4 t-center p-l-15 p-r-15 p-t-3">
            Our School
        </h3>

    </div>
</section>


<!-- Delicious & Romantic-->
<section class="bg2-pattern p-t-116 p-b-110 t-center p-l-15 p-r-15">

    <h3 class="tit3 t-center m-b-35 m-t-5">
        School History
    </h3>

    <p class="t-center size32 m-l-r-auto" style="text-align: center; text-align: justify;">
        Tiba international schools were established in 1999 on an area of about 500 m2 at Alexandria City of Alexandria Governorate with a building of modern high quality school. <br>The school is very close to the main road which makes it easy for parents, staff, and visitors to reach the school.<br> The school was purposely built for education and possessed various facilities including Sciences Laboratories, Computer Laboratory, Sport facilities, Libraries, Music Room, and Art Room<br>
        The school has two streams program of study including National and American. <br> The latter has been initiated and established 2006. <br>  School has an enrolment of (449) students, with sufficient number of staff, faculty members and administrative. <br>The American School possesses (17) classrooms, science laboratories, computer Laboratory, library, music room, gym, and art room.<br>
        The school day is scheduled in (8) periods of different subjects and activities including science, mathematics, social studies, English, computer, Music, French, physical education and art.
        <br>The school day is scheduled in (8) periods of different subjects and activities including science, mathematics, social studies, English, computer, Music, French, physical education and art.
    </p>


</section>

<section class="bg1-pattern p-t-120 p-b-105">
    <div class="container">
        <!-- Delicious -->
        <div class="row">

            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-delicious t-center">
                    <span class="tit2 t-center">Our</span><h3 class="tit3 t-center m-b-35 m-t-5">Vision</h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Our vision is to educate by providing a high-quality international education for students of different ages,
                        cultures and needs to become global thinkers, 
                        lifelong learners and responsible citizens who contribute successfully to the global world
                    </p>
                </div>
            </div>

            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-delicious size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="~/images/our-story-01.jpg" alt="IMG-OUR">
                </div>
            </div>
        </div>


        <!-- Romantic -->
        <div class="row p-t-170">
            <div class="col-md-6 p-b-30">
                <div class="wrap-pic-romantic size2 bo-rad-10 hov-img-zoom m-l-r-auto">
                    <img src="~/images/our-story-02.jpg" alt="IMG-OUR">
                </div>
            </div>

            <div class="col-md-6 p-t-45 p-b-30">
                <div class="wrap-text-romantic t-center">
                    <span class="tit2 t-center">
                        Our
                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-5">
                        Mission
                    </h3>

                    <p class="t-center m-b-22 size3 m-l-r-auto">
                        Our mission is to create secure, friendly, creative and motivating learning environment that develops our students through enriching experience to meet academic challenges, to solve problems and become successful responsible global citizens.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-reservation bg1-pattern p-t-100 p-b-113">
    <div class="container">


        <form class="wrap-form-reservation size22 m-l-r-auto">

            <div class="wrap-btn-booking flex-c-m m-t-6">
                <!-- Button3 -->
                <a href="~/images/StudentParent-Hand-Book 23-1.pdf" class="btn3 flex-c-m size13 txt11 trans-0-4" target="_blank" style="font-size: 1em">Students Handbook</a>
            </div>

            <div class="wrap-btn-booking flex-c-m m-t-6">
                <!-- Button3 -->
                <a href="~/images/Staff Handbook23-1.pdf" class="btn3 flex-c-m size13 txt11 trans-0-4" target="_blank" style="font-size: 1em">Staff Handbook</a>
            </div>

            <div class="wrap-btn-booking flex-c-m m-t-6">
                <!-- Button3 -->
                <a href="~/images/Final School Calendar-2.pdf" class="btn3 flex-c-m size13 txt11 trans-0-4" target="_blank" style="font-size: 1em">School Calendar</a>

            </div>


        </form>
    </div>
</section>

<!-- #endregion -->

<!-- #region JS Librariese -->
@section JSLibrary
{
    <script type="text/javascript" src="~/vendor/isotope/isotope.pkgd.min.js"></script>
}   
<!-- #endregion -->