
@{
    ViewData["Title"] = "TIBA - Appeals";
}

<!-- #region Content -->

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-02.jpg);">
    <h2 class="tit6 t-center">
        Appeals & Complaints
    </h2>
</section>


<!-- Reservation -->
<section class="section-reservation bg1-pattern p-t-100 p-b-113">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 p-b-30">
                <div class="t-center">
                    <span class="tit2 t-center">

                    </span>

                    <h3 class="tit3 t-center m-b-35 m-t-2">
                        School Policies
                    </h3>

                    <p class="size75" style="text-align: justify;">
                        • •	  <span class="txt24">TAS</span> believes that a student, who has a complaint or appeal, has the right to raise the complaint or appeal and expect that every effort will be made to resolve it in accordance with this policy, without prejudice or fear of reprisal or victimization. <br>
                        • •	The student has the right to present the complaint or appeal formally and in writing. <br>
                        • •	<span class="txt24">TAS</span> will manage all complaints and appeals fairly, equitably and efficiently as possible. <br>
                        • •	<span class="txt24">TAS</span> will encourage the parties to approach the complaint or appeal with an open mind and to where a complaint or appeal cannot be resolved through discussion and conciliation.<br>
                        • •	<span class="txt24">TAS</span> acknowledges the need for an appropriate external and independent person to mediate between the parties.<br>
                        • •	The parties will be given the opportunity to formally present their case to the independent person.<br>
                        • • This complaints and appeals policy applies to only students enrolled with <span class="txt24">TAS</span>.<br>
                        • •	Complaints regarding school conduct can be directed to the individual school principal. <br>
                        • •	Natural Justice is concerned with ensuring procedural fairness: <br>
                        • •	Decisions and processes should be free from bias. <br>
                        • •	 All parties have the right to be heard. <br>
                        • •	 The respondent has a right to know of what s/he is accused. <br>
                        • •	 All parties are told the decision and the reasons for the decision.
                    </p>
                    <p class="size75" style="text-align: justify;">
                        • •	An appeal can be made on one or more of the following grounds:<br>
                        <span style="font-family: Courgette;">
                            -- Admission.<br>
                            --	Exams.<br>--	Marks.<br>--	Canteen.<br>--	Trips.<br>--	Uniform.<br>--	Projects.<br>
                            --	Workshops.<br>--	Suspension.<br>--	Punishment.<br>--	Academic progress.<br>--	Medical.
                        </span><br>
                        • •	A copy of this Policy is available to all students and staff via the www.tiba.school  website, administration office and is available in the Student Handbook. The information will also contain details of external authorities that they may approach.
                    </p>
                </div>

                <div class="t-center">
                    <p>
                        <span class="tit2 t-center">

                        </span>
                    </p>

                    <h3 class="tit3 t-center m-b-35 m-t-2">
                        Procedures
                    </h3>

                    <p class="size75" style="text-align: justify;">
                        • •	The stakeholder can make the appeal or complaints through the following ways:-<br>
                        a)	Fill the form from the school website www.tiba.school.<br>
                        b)	Ask for the appropriate form from the administration office.<br>
                        • •	The complaints or appeal will be submitted to the Director of the School who will act as the Investigating Officer to review and make a decision.<br>
                        • •	 If the Director has been directly involved in the assessment of the student or there is deemed to be a conflict of interest, then another senior member of staff will be appointed to review the appeal or complaints.<br> This will normally be one of the following: <br>
                        --	Principal assistant.<br>
                        --	Head of social worker.<br>
                        • •	Contact the Chair of the Board of School if your complaint is against the Principal.
                    </p>


                </div>



            </div>
        </div>

        <div class="info-reservation flex-w p-t-80">
            <div class="size23 w-full-md p-t-40 p-r-30 p-r-0-md">
                <h4 class="txt5 m-b-18">
                    •	REVIEW OF APPEAL.
                </h4>

                <p class="size25">
                    -	The initial appeal will involve a review of the paperwork submitted and it may be possible to make a decision based in the paperwork alone. If the Investigating Officer finds that there are insufficient grounds for the appeal it will be rejected and the original assessment/progression decision will stand. <br>
                    -	Where a decision cannot be reached on the paperwork alone, the Investigating Office may interview academic staff and the student involved in the appeal. Any meeting with the student will be minuted by a member of administrative staff who will not be part of the decision-making process. These minutes will be made available to the student.

                </p>
            </div>

            <div class="size24 w-full-md p-t-40">
                <h4 class="txt5 m-b-18">
                    •	OUTCOMES
                </h4>

                <p class="size26">
                    -	The decisions available to the Investigating Officer are detailed below.<br>
                    -	 In each case, an explanation of the reasons for the decision will be provided: <br>
                    a) Reject the appeal. <br>
                    b) Accept the appeal.<br>
                    c) Partially accept the appeal.

                </p>
            </div>

            <div class="size23 w-full-md p-t-40 p-r-30 p-r-0-md">
                <h4 class="txt5 m-b-18">
                    •	REVIEW OF COMPLAINT.
                </h4>

                <p class="size25">
                    -	The initial complaint will involve a review of the paperwork submitted and it may be possible to make a decision based in the paperwork alone. If the Investigating Officer finds that there are insufficient grounds for the complaint it will be rejected and the original assessment/progression decision will stand. <br>
                    -	Where a decision cannot be reached on the paperwork alone, the Investigating Office may interview academic staff and the student involved in the complaint. Any meeting with the student will be minuted by a member of administrative staff who will not be part of the decision-making process. These minutes will be made available to the student.

                </p>
            </div>

            <div class="size24 w-full-md p-t-40">
                <h4 class="txt5 m-b-18">
                    •	OUTCOMES
                </h4>

                <p class="size26">
                    -	The decisions available to the Investigating Officer are detailed below.<br>
                    -	 In each case, an explanation of the reasons for the decision will be provided: <br>
                    a) Reject the complaint. <br>
                    b) Accept the complaint.<br>
                    c) Partially accept the complaint.
                </p>
            </div>
            <h4 class="txt5 m-b-18">• •	Formal Complaints Handling Procedure </h4>
            <p class="size75" style="text-align: justify;">
                a) The process of this grievance procedure is confidential and any complaints or appeals are a matter between the parties concerned and those directly involved in the complaints handling process. <br>
                b) The student must notify the school in writing of the nature and details of the complaint or appeal. <br>
                c) Written complaints or appeals are to be lodged with the Headmaster. <br>
                d) Where the internal complaints and appeals process is being accessed because the student has received notice by the school that the school intends to report him/her for unsatisfactory course attendance, unsatisfactory course progress or suspension or cancellation of enrolment, the student has 5 working days from the date of receipt of notification in which to lodge a written appeal. <br>
                e) Complaints and appeals processes are available to students at no cost. <br>
                f) Each complainant has the opportunity to present his/her case to the Headmaster or their representative. <br>
                g) Students and / or the School may be accompanied and assisted by a support person at all relevant meetings. <br>
                h) Once the Headmaster or their Representative has come to a decision regarding the complaint or appeal, the student will be informed in writing of the outcome and the reasons for the outcome, and a copy will be retained on the student’s file. <br>
                I) If students have any questions about this procedure they should contact the School’s administration office.

            </p>

            <h4 class="txt5 m-b-18">• •	The procedures are designed to be:  </h4>
            <p class="size75" style="text-align: justify;">
                --	Easily accessible through website or administration office and publicized. <br>
                --	A copy of the procedures will be placed on the school’s website or available on request from the school.<br>
                --	simple to understand and use; <br>
                --	Impartial; and non-adversarial.
            </p>

        </div>


        <form class="wrap-form-reservation size22 m-l-r-auto">

            <div class="wrap-btn-booking flex-c-m m-t-6">
                <!-- Button3 -->
                <a href="~/images/word/Student-Parent-appeals-form.doc" class="btn3 flex-c-m size13 txt11 trans-0-4">Student-Parent-appeals-form</a>
            </div>

            <div class="wrap-btn-booking flex-c-m m-t-6">
                <!-- Button3 -->
                <a href="~/images/word/Student-Parent-Complaint.doc" class="btn3 flex-c-m size13 txt11 trans-0-4">Student-Parent-Complaint</a>
            </div>

            <div class="wrap-btn-booking flex-c-m m-t-6">
                <!-- Button3 -->
                <a href="~/images/word/Teacher-appeals-form.doc" class="btn3 flex-c-m size13 txt11 trans-0-4">Teacher-appeals-form</a>

            </div>

            <div class="wrap-btn-booking flex-c-m m-t-6">
                <!-- Button3 -->
                <a href="~/images/word/teacher-complaint.doc" class="btn3 flex-c-m size13 txt11 trans-0-4">teacher-complaint</a>

            </div>

        </form>
    </div>
</section>

<!-- #endregion -->
