
@{
    ViewData["Title"] = "TIBA - Our School";
}

<!-- #region Content -->
<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-03.jpg);">
    <h2 class="tit6 t-center">Subjects and programs</h2>
</section>


<!-- Content page -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-9">
                <div class="p-t-80 p-b-124 bo5-r h-full p-r-50 p-r-0-md bo-none-md">
                    <!-- Block4 -->
                    <div class="blo4 p-b-63">
                        <div class="pic-blo4 hov-img-zoom bo-rad-10 pos-relative">
                            <a href="#"><img src="~/images/blog-04.jpg" alt="IMG-BLOG"></a>


                        </div>

                        <div class="text-blo4 p-t-33">
                            <h4 class="p-b-16">
                                <a href="#" class="tit9">Subjects and programs:</a>
                            </h4>



                            <p>
                                Kindergarten has the following grades: Kg 1 and kg 2.<br>
                                The Kindergarten stage currently operates using an 8 periods 45 minutes daily schedule and two breaks time.  Students receive knowledge and skills in various subject areas such as: English , Math, Science, Arabic, Art, Music, P.E, Religion.<br>
                                Elementary stage has the following grades: Grade 1, 2, 3, 4, 5 and Grade 6.<br>
                                The Elementary stage currently operates using an 8 periods 45 minutes daily schedule. <br> Students receive knowledge and skills in various subject areas such as: English, Math, Science, Arabic, Art, Music, P.E, Computer, French, Social Studies and Religion. <br>
                                The Middle and High stages have the following grades: Grade 7, 8, 9, 10, 11 and Grade 12.    <br>
                                The Middle and High stages currently operate using an 8 periods 45 minutes daily schedule.  Students receive knowledge and skills in various subject areas such as:  Mathematic, Chemistry, Biology, Physics, Science, Social Studies, English, Arabic, French, Computer Technology, Art and Physical Education, economy, business, advanced biology, Advanced Math, Arabic social studies, and civics.<br>
                                Students are placed into grades according to their academic performance and age.<br>
                                -Throughout the academic year students pass four quarters evaluation with average of 8 - 10 weeks/quarter.<br>
                                -Teachers assess and evaluate   students based on projects, home assignment, class work, quizzes, participation, attendance, revisions, and final exams.

                            </p>

                            <a href="#" class="dis-block txt4 m-t-30">
                                Continue Reading
                                <i class="fa fa-long-arrow-right m-l-10" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>





                </div>
            </div>

            <div class="col-md-4 col-lg-3">
                <div class="sidebar2 p-t-80 p-b-80 p-l-20 p-l-0-md p-t-0-md">
                    <!-- Search -->
                    <!-- Categories -->
                    <div class="categories">
                        <h4 class="txt33 bo5-b p-b-35 p-t-58">
                            Categories
                        </h4>

                        <ul>
                            <li class="bo5-b p-t-8 p-b-8">
                                <a href="#" class="txt27">
                                    1
                                </a>
                            </li>

                            <li class="bo5-b p-t-8 p-b-8">
                                <a href="#" class="txt27">
                                    2
                                </a>
                            </li>

                            <li class="bo5-b p-t-8 p-b-8">
                                <a href="#" class="txt27">
                                    3
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!-- Most Popular -->




                </div>
            </div>
        </div>
    </div>
</section>



<!-- #endregion -->

<!-- #region JS Librariese -->
@section JSLibrary
{
    <script type="text/javascript" src="~/vendor/isotope/isotope.pkgd.min.js"></script>
}
<!-- #endregion -->