@inject TibaSchool.BL.Interface.IVideoFolder obj

@{
    ViewData["Title"] = "Folders";
}


<!-- #region Content -->

<!-- Title Page -->
<section class="bg-title-page flex-c-m p-t-160 p-b-80 p-l-15 p-r-15" style="background-image: url(/images/bg-title-page-02.jpg);">
    <h2 class="tit6 t-center">
        Folders
    </h2>
</section>


<!-- Gallery -->
<div class="container" style="margin-bottom: 10px;">
   
    <br />
    <div class="title-section-ourmenu t-center m-b-22">
        <h3 class="tit5 t-center m-t-2" style="color:darkred">
             Folders
        </h3>
    </div>

    <div class="row">

        @foreach (var item in await obj.GetAllAsync())
        {
            <div class="col-md-4 p-t-50">
                <!-- Block1 -->
                <div class="blo1">
                    <div class="wrap-pic-blo1 bo-rad-10 hov-img-zoom">
                        <a asp-controller="Home" asp-action="GetVideos" asp-route-id="@item.Id"><img src="~/Files/ImagesVideo/@item.ImageName" alt="@item.ImageName" height="200"></a>
                    </div>
                    <div class="wrap-text-blo1 p-t-35 text-center">
                        <a asp-controller="Home" asp-action="GetVideos" asp-route-id="@item.Id">
                            <h4 class="txt5 color0-hov trans-0-4 m-b-13">
                                @item.Name
                            </h4>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>


<!-- #endregion -->

<!-- #region JS Librariese -->
@section JSLibrary
    {
    <script type="text/javascript" src="~/vendor/isotope/isotope.pkgd.min.js"></script>
}
<!-- #endregion -->